@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
* {
    padding : 0 ;
    margin : 0 ;
    list-style: none;
    text-decoration: none;
    line-height:1.6;
}

/* nav-start  */
nav {
   
}
.nav-header {
    position :sticky;
    top: 0 ;
    background-color : #ffffff;
    /* margin: 0 auto ; */
    width : 80%;
    height : 7vh;
    /* background-color : #312f2f; */
    -webkit-box-shadow: 1px 12px 11px -13px rgba(0, 0, 0, 0.082); 
    box-shadow: 1px 12px 11px -13px rgba(0, 0, 0, 0.082);
    display : flex;
    justify-content: space-around ;
    align-items: center;
}   

.nav-header ul li {
    float : left ;
    padding-left : 6em;
    
}
.nav-header ul li a {
    font-size : 13px;
    /* font-weight: bold; */
    color : #33cfff;
    font-family: 'Work Sans', sans-serif ;
    letter-spacing: 5px;
    font-weight: bold;
} 
.nav-header span h1 {
    font-family: 'Work Sans', sans-serif ;
}
.nav-header ul li:first-child a {
    /* border : 1px solid black; */
    color : white;
    background-color:#33cfff;
    padding: 14px;
    border-radius: 7px;   
    
}
.nav-header ul li:first-child a:hover {
    
    background-color : white ;
    color : #33cfff;
    border :1px dashed #33cfff; 
    border-radius: 7px;
} 

/* nav-end */
.important {
    color :rgba(22, 220, 255, 0.986);
}

/* container-start*/



/* container-end */
.container {
    display: flex;
    width : 80vw;
    height: 90vh;
    margin: auto;
    margin-top : 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 2px 4px 15px 5px rgba(0,0,0,0.14); 
    box-shadow: 2px 4px 15px 5px rgba(0,0,0,0.14); 
    border-radius: 7px;
}


/*first-section-start*/
.left-section-container {
    width: 50%;
    height: 100%;
}
.left-section-container  img {
   width: 100%;
    height: 100%;
    border-radius: 7px;
}

/*first-section-end-*/

/* right-section-container-start */
.right-section-container span h1 b {
    font-family: 'Work Sans', sans-serif ;
    font-size: 43px;
    padding-left :10px;
}
.right-section-container ul  {
    display: flex; 
}
.right-section-container ul li {
    margin: 15px 12px 15px 20px;
}
.right-section-container ul li a {
    color : #33cfff;
    border : 1px solid rgba(35, 202, 231, 0.425) ;
    border-radius: 10px;
    padding : 10px;
    font-size: 13px;
}
.right-section-container ul li a:hover {
    background-color : #33cfff;
    color : white;
}
.right-section-container ul li:nth-child(2) a{
    background-color : #33cfff;
    color : white;
}
.right-section-container ul li:nth-child(2) a:hover{
    background-color : white;
    color : #33cfff;
}
.about span  , .birth-And-family span ,.education span{ 
    font-family: 'Work Sans', sans-serif ;
    font-size : 30px;
    padding : 35px 0px 0px 35px;
}
.about p ,.birth-And-family p , .education p {
    font-size : 14px;
    font-weight: lighter;
    padding : 20px 0 0 50px;
}

/* right-section-container-end */

/*footer-start*/
footer {
    width : 100%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.836);
    -webkit-box-shadow: 2px -14px 16px 5px rgba(0,0,0,0.12); 
    box-shadow: 2px -14px 16px 5px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Ubuntu Mono', monospace;
    color :rgb(224, 220, 220) ;
}

.about-dev {
    padding-top : 50px;
    font-size : 14px;
}
.about-dev span  {
 font-size : 20px;
}
.about-dev p {
    /* padding-left : 30px;
    padding-top: 10px; */
    font-size: 12px;
}

.about-dev span  img {
    width : 20px;
    height : 20px;
}
.github-span {
    display: block;
    padding-top : 20px;
    /* padding: 20px 0 0 30px; */
}
.github-span a {
    color: #33cfff;
    text-decoration: underline;
}

footer ul li:first-child a  {
    font-size : 20px;
    text-decoration : none;
}
footer ul li a {
    color : rgb(224, 220, 220) ;
    font-size : 15px;
    text-decoration: underline;
}
footer ul  {
    padding-top : 50px;
}